.App {
  text-align: center;
  color: red;
}

.Skill{
  background-color: blue;
  color: black;
  text-align: center;
  padding: 2px;
}
.parent{
	display: flex;
	justify-content: space-between;
}
.child{
	border: 2px solid blue;
	width: 400px;
	text-align: center;
}
a{
	margin: 1%;
}